/* css header */
.header-top {
    padding: 10px 0px;
}

.logo img {
    aspect-ratio: 260 / 83;
    max-width: 260px;
    width: 100%;
    height: auto;
}

.header-top,
.header-bottom {
    justify-content: space-between;
}

.header-function {
    gap: 10px;
}

.search-box {}

.slide-container {
    aspect-ratio: 48 / 19;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.header-function__blog {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    transition: all 0.6s ease;
    gap: 10px;
    cursor: pointer;
}

.header-function__blog img {
    width: 12px;
    height: auto;
}

.pagenotfound-container a:hover,
.job-filter__btn:hover,
.job-card:hover,
.header-function__contact:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.job-card:hover {
    border: 1px solid var(--primary-color);
}

.header-function__contact {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all 0.4s ease;
}

.header-function__blog,
.header-function__contact {
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 500;
    line-height: 1;
}

.menu-container__item {
    padding: 12px 10px;
    font-weight: 500;
    font-size: calc(var(--font-size-base) - 2px);
    border-bottom: 1px solid transparent;
}

.menu-container__bar {
    background-color: var(--primary-color);
    width: 48px;
    border: none;
    border-radius: 5px;
    height: auto;
    cursor: pointer;
    padding: 10px;
}

.menu-list__table {}


.menu-item__exception {
    display: none;
}

.submenu>div>a,
.menu-item__exception>a,
.menu-item>a {
    text-align: right;
    padding: 10px 0px;
    margin-right: 20px;
}

.clone-menu__container {
    justify-content: left;
    margin-left: 10px;
}

.clone-menu__container p {
    color: var(--white-color);
}

.menu-item__exception>a,
.menu-item>a {
    color: var(--white-color);
}

.menu-item>a::after {
    content: "";
    display: inline-block;
    aspect-ratio: 1 / 1;
    width: 10px;
    height: auto;
    margin-left: 4px;
    background-image: url(../../img/icon/chevron-down-white.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.submenu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.submenu.active {
    max-height: 500px;
    opacity: 1;
}

.menu-list__table {
    max-height: 0;
    padding: 0px;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
}

.menu-list__table.active {
    max-height: 2000px;
    padding: 20px 0px;
    opacity: 1;
}

.submenu div {
    justify-content: right;
}

.drop-down {
    position: relative;
}

.menu-list {
    position: absolute;
    top: 110%;
    left: 0;
    min-width: 180px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.25s ease;
    z-index: 99;
}

.header-container {
    position: relative;
    gap: 10px;
}

.menu-list__table {
    position: absolute;
    width: 80vw;
    background-color: var(--primary-color);
    right: 0px;
    top: 165%;
    border-radius: 20px;
}


.menu-container__item:hover .menu-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-container__item:hover {
    border-bottom: 1px solid var(--secondary-color);
}

.menu-list a {
    transition: all 0.2s ease;
    border-bottom: 1px solid transparent;
    padding: 10px;
}

.menu-list a:hover {
    border-bottom: 1px solid var(--secondary-color);
}

.drop-down::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    aspect-ratio: 1 / 1;
    width: 10px;
    height: auto;
    margin-left: 4px;
    background-image: url(../../img/icon/chevron-down.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.header-newsandknowledge__container {
    position: relative;
}

.header-newsandknowledge__content {
    position: absolute;
    background-color: var(--white-color);
    z-index: 1;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    gap: 10px;
    top: 110%;
    display: none;
}

.header-newsandknowledge__content.active {
    display: flex;
}

.header-function__blog {}

/* css menu mobile */
.menu-mobile__container {
    position: fixed;
    bottom: 0;
    z-index: 2;
    gap: 5px;
    width: 100vw;
    display: none;
}

.menu-mobile__item img {
    max-height: 19px;
    width: 100%;
    height: auto;
}

.menu-mobile__item {
    padding: 10px;
    gap: 5px;
}

.menu-mobile__item p {
    font-size: calc(var(--font-size-base) / 2);
    font-weight: bold;
    color: var(--black-color);
    opacity: 0.4;
}

.menu-list__mobile {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 100vw;
    padding: 10px 0;
    background: #fff;
    min-height: 0;
    height: 0px;
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;
    transition: max-height 0.4s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
    z-index: 999;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.menu-list__mobile.active {
    min-height: 85vh;
    opacity: 1;
    transform: translateY(0);
}

.btn-submit {
    width: 100%;
}

.btn-custom,
.btn-get-a-quote {
    width: fit-content;
}

.btn-get-a-quote {
    text-transform: uppercase;
}

.btn-submit,
.btn-custom {
    border: none;
}

.btn-submit,
.btn-custom,
.btn-get-a-quote,
.btn-res-login {
    padding: 12px 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--white-color);
}

.btn-res-login a {
    color: var(--white-color);
}

/* css nav bar */
.nav-bar__container {
    justify-content: left;
    padding: 20px 0px;
    gap: 10px;
}

.nav-bar__item {
    font-size: var(--font-size-base);
    text-decoration: underline;
    text-transform: capitalize;
}

.nav-bar__item:not(:last-child)::after {
    content: "";
    display: inline-block;
    aspect-ratio: 1 / 1;
    width: 10px;
    height: auto;
    margin-left: 10px;
    background-image: url(../../img/icon/chevron-right.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* css product feature */
.contact__container,
.feature-product__container {
    margin-top: 30px;
}

.feature-product__container {
    gap: 20px;
}


.feature-product__item.feature-product__active,
.feature-product__item {
    width: calc(100% / 3 - 16px);
    border-radius: 10px;
    box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.25);
}

.feature-product__item.feature-product__active {
    border: 1px solid var(--primary-color) !important;
}

.feature-product__item {
    border: 1px solid var(--gray-color);
}

.feature-product__item.feature-product__active .feature-product__title,
.feature-product__title {
    width: 100%;
    padding: 30px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.feature-product__item.feature-product__active .feature-product__title {
    background-color: var(--primary-color);
}

.feature-product__title {
    background-color: var(--gray-color);
}

.feature-product__title h4 {
    font-size: calc(var(--font-size-base) * 2);
}

.feature-product__title p {
    font-size: var(--font-size-base);
}

.feature-product__item.feature-product__active .feature-product__title h4,
.feature-product__item.feature-product__active .feature-product__title p,
.feature-product__title h4,
.feature-product__title p {
    font-weight: bold;
}

.feature-product__item.feature-product__active .feature-product__title h4,
.feature-product__item.feature-product__active .feature-product__title p {
    color: var(--white-color);
}

.feature-product__title h4,
.feature-product__title p {
    color: var(--black-color);
}

.feature-product__list li {
    gap: 20px;
}

.feature-product__list img {
    max-width: 11px;
    aspect-ratio: 1 / 1;
}

.feature-product__content {
    width: 100%;
    padding: 20px 40px;
    gap: 10px;
    min-height: 331px;
    justify-content: space-between;
}

/* css hệ thống hạ tầng */
.infrastructure-system__container {}

.flex {}

.flex-col {}

.infrastructure-system__title {
    color: var(--white-color);
}

.text-center {}

.infrastructure-system__content {
    margin-top: 30px;
    gap: 20px;
}

.infrastructure-system__item {
    border-radius: 10px;
    border: 2px solid var(--white-color);
    gap: 10px;
    padding: 30px;
    border-radius: 15px;
    width: calc(100% / 4 - 16px);
}

.product-item__content h5,
.why-choose-us__item h5,
.infrastructure-system__item h5 {
    font-size: calc(var(--font-size-base) + 8px);
}

.infrastructure-system__item img {
    max-width: 110px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.infrastructure-system__item * {
    color: var(--white-color);
}

/* css vì sao chọn chúng tôi */
.why-choose-us__container {
    gap: 20px;
}

.why-choose-us__item {
    width: calc(100% / 2 - 20px);
}

.why-choose-us__item:nth-child(2) {
    padding: 20px;
    gap: 20px;
}

.why-choose-us__item h5 {
    font-weight: bold;
    color: var(--primary-color);
}

.feature-product__list {}

/* CSS sản phẩm */

.product-filter__container,
.product__container {
    gap: 30px;
}

.product-filter__container {}

.product-filter__item {
    gap: 10px;
    max-width: 380px;
    min-width: 110px;
}

.product-filter__title {}

.filter-radio {
    gap: 10px;
}

.all-product__content {
    gap: 20px;
}

.product-item {
    width: calc(100% / 6 - 20px);
    background-color: var(--white-color);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
    padding: 20px 10px;
}

.product-item__content h5 {
    text-transform: capitalize;
}

.product-item .btn-custom {
    font-size: calc(var(--font-size-base) - 2px);
}

.product-item__content {
    gap: 10px;
}

/* css trang liên hệ */
.map-content {
    width: 100%;
    aspect-ratio: 16 / 5;
}

.contact__social,
.contact__container {
    gap: 20px;
}

.contact__content {
    gap: 10px;
}

.contact__item {
    gap: 10px;
    width: calc(100% / 2 - 10px);
}

.contact__icon {
    aspect-ratio: 1 / 1;
    max-width: 32px;
}

.contact__info {}

.contact__social {}

.contact-form {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--black-color);
    gap: 10px;
}

.form-row {
    gap: 20px;
}

.form-group {
    flex: 1 1 calc(100% / 2 - 20px);
    gap: 10px;
}

.form-row .form-group select,
.form-row .form-group input {
    min-height: 39px;
}

.form-row .form-group select,
.form-row .form-group input,
.form-group textarea {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.form-group input {
    min-height: 100px;
}

.full-width {}

.captcha {}

.recaptcha-box {}

/* css blog */
.blog-content__container {
    gap: 20px;
}

.blog-content__right,
.blog-content__left {
    gap: 10px;
}

.blog-content__left {
    flex: 1 1 70%;
}

.blog-content__left ul {
    padding-left: 30px;
}

.blog-content__right {
    flex: 0 0 30%;
}

.blog-content__right a {
    color: var(--light-blue);
}

/* css footer */

footer {
    border-top: 1px solid var(--black-color);
}

.footer-top {
    margin: 20px 0px;
}

.footer-top img {
    max-width: 482.12px;
}

.footer-bottom {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-bottom__content {
    max-width: 450px;
    gap: 10px;
}

.footer-bottom__content h3 {
    font-size: calc(var(--font-size-base) + 2px);
    text-transform: uppercase;
}

.footer-bottom__social {
    flex-grow: 1;
    justify-content: space-between;
    max-height: 25px;
}

.footer-bottom__social a img {
    max-width: 25px;
    height: auto;
    width: 100%;
    text-align: center;

}

/* css tool */
.tool__container {
    gap: 30px;
}

.tool-guide__content {
    gap: 20px;
}

.tool-guide__item {
    width: calc(100% / 3 - 20px);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0,0.15);
    gap:10px
}

.tool-guide__item h5{
    font-weight: bold;
    font-size: calc(var(--font-size-base) + 8px);
    color: var(--black-color);
}

.tool-guide__item p{
    font-size: var(--font-size-base);
    color: var(--black-color);
}

.tool-item__image {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white-blue);
    max-width: 120px;
    aspect-ratio: 1 / 1;
}

.tool-btn {
    padding: 12px 0px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--black-color);
    border: 1px solid rgba(0, 0, 0, 0.25);
}   

.tool-btn,
.btn-active{
    margin: auto;
}

.btn-active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.link-guide__container a{
    margin-bottom: 10px;
    width: calc(100% / 3 - 20px);
    color: var(--primary-color);
}

/* css fade */
.hidden-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out, filter 0.9s ease-out;
    will-change: opacity, transform, filter;
}

.show-up {
    opacity: 1;
    transform: translateY(0);
}

/* css 404 page */
.pagenotfound-container a {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    transition: all 0.4s ease;
}

.pagenotfound-container img {
    max-width: 500px;
    margin-bottom: 20px;
}