@media screen and (max-width: 1270px) {
    .product-item {
        width: calc(100% / 5 - 20px);
    }
}

@media screen and (min-width: 1200px) {
    .menu-container__bar {
        display: none;
    }
}

@media screen and (max-width: 1200px) {

    .btn-get-a-quote,
    .btn-res-login,
    .menu-container__item {
        display: none;
    }
}

@media screen and (max-width: 1073px) {

    .header-bottom {
        flex-grow: 1;
        justify-content: right;
    }

    .infrastructure-system__item {
        width: calc(100% / 3 - 20px);
    }

    .product-item {
        width: calc(100% / 4 - 20px);
    }

    .tool-guide__item {
        width: calc(100% / 2 - 20px);
    }

    .reason-item {
        width: calc(100% / 2 - 20px);
    }

    .help-category-item {
        width: calc(100% / 4 - 16px);
    }

    .product-hero {
        background-image: unset;
    }

    .feature-card {
        padding: 30px;
    }

    .timeline-right,
    .timeline-left {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .why-choose-us__container {
        flex-direction: column;
    }

    .why-choose-us__item {
        width: 100%;
    }

    .contact__container {
        flex-direction: column;
    }

    .contact__item {
        width: 100%;
    }

    .about-timeline__content {}
}

@media screen and (max-width: 835px) {
    .feature-product__content {
        padding: 10px;
    }

    .link-guide__container a {
        width: calc(100% / 2 - 20px);
    }

    .service-item {
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 800px) {

    .feature-card ,
    .partner-item ,
    .infrastructure-system__item,
    .feature-product__item.feature-product__active,
    .feature-product__item {
        width: calc(100% / 2 - 18px);
    }

    .product-item {
        width: calc(100% / 3 - 20px);
    }

    .core-left,
    .core-right {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {}

@media screen and (max-width: 768px) {

    :root {
        --font-size-base: 14px;
    }

    .container-padding {
        padding: 30px 0px;
    }

    .footer-top img {
        max-width: 260px;
    }

    .text-header-size {
        font-size: 24px;
    }

    .help-category-item {
        width: calc(100% / 3 - 15px);
    }
}

@media screen and (max-width : 700px) {
    .blog-content__container {
        flex-direction: column;
    }

    .tool-guide__item {
        width: 100%;
    }

    .product-tabs {
        display: none;
    }
}

@media screen and (max-width: 590px) {

    header {
        padding-bottom: 0px;
    }

    .infrastructure-system__item,
    .feature-product__item.feature-product__active,
    .feature-product__item {
        width: 100%;
    }

    .product-item {
        width: calc(100% / 2 - 20px);
    }

    .reason-item {
        width: 100%;
    }

    .help-category-item {
        width: calc(100% / 2 - 15px);
    }

    .product-overview,
    .product-highlight {
        width: 100%;
    }

    .feature-card {
        padding: 10px;
    }

    .benefit-item {
        width: 100%;
    }
}

@media screen and (max-width: 551px) {
    .link-guide__container a {
        width: 100%;
    }

    .timeline-left img {
        max-width: 150px;
    }
}

@media screen and (max-width: 480px) {
    .feature-card {
        width: 100%;
    }
}