<div class="cta-item">
    <a href="#" class="cta-link">
        <img src="./img/icon/phone.svg" alt="Gọi điện">
    </a>
</div>

<div class="cta-item">
    <a href="#" target="_blank" class="cta-link">
        <img src="./img/icon/messenger.svg" alt="Messenger">
    </a>
</div>

<div class="cta-item">
    <a href="#" target="_blank" class="cta-link">
        <img src="./img/icon/zalo.svg" alt="Zalo">
    </a>
</div>

<div class="cta-item">
    <a href="#" target="_blank" class="cta-link">
        <img src="./img/icon/map.svg" alt="Google Maps">
    </a>
</div>