<div class="container-l flex center-ver pos-rel header-top">
    <a href="../index.html" class="logo">
        <img title="logo trang chủ" src="./img/logo/logo-top.webp" alt="">
    </a>
    <div class="flex header-container header-bottom">
        <div class="menu-container__item drop-down flex center-ver ">
            <a href="#">Giải pháp bảo mật ▾</a>
            <div class="menu-list flex flex-col">
                <a href="#">Chứng chỉ Máy chủ SSL/TLS</a>
                <a href="#">Bảo mật cấp cao</a>
                <a href="#">Ký số & Định danh</a>
            </div>
        </div>
        <div class="menu-container__item drop-down flex center-ver ">
            <a href="#">Hạ tầng WEB ▾</a>
            <div class="menu-list flex flex-col">
                <a href="#">Cloud Server / VPS </a>
                <a href="#">Web Hosting</a>
                <a href="#">Email Doanh Nghiệp</a>
                <a href="#">Tên miền</a>
            </div>
        </div>
        <div class="menu-container__item drop-down flex center-ver ">
            <a href="#">Hỗ trợ & công cụ ▾</a>
            <div class="menu-list flex flex-col">
                <a href="#">Trung tâm trợ giúp</a>
                <a href="#">Trang công cụ</a>
            </div>
        </div>
        <div class="menu-container__item drop-down flex center-ver ">
            <a href="#">Về chúng tôi</a>
        </div>
        <div class="menu-container__item drop-down flex center-ver ">
            <a href="#">Liên hệ</a>
        </div>
        <a href="#" class="btn-get-a-quote flex center-ver">Nhận báo giá</a>
        <div class="flex btn-res-login center-ver center-hor">
            <a href="#">Đăng nhập</a>
            <p href="#">/</p>
            <a href="#">Đăng ký</a>
        </div>
        <button class="menu-container__bar flex center-ver">
            <img src="./img/icon/bars.svg" alt="">
        </button>
        <div class="menu-list__table flex flex-col">
            <div class="menu-root">
                <div class="menu-item flex-col flex">
                    <a href="#">Giải pháp bảo mật ▾</a>
                    <div class="menu-list flex flex-col">
                        <a href="#">Chứng chỉ Máy chủ SSL/TLS</a>
                        <a href="#">Bảo mật cấp cao</a>
                        <a href="#">Ký số & Định danh</a>
                    </div>
                </div>
                <div class="menu-item flex-col flex">
                    <a href="#">Hạ tầng WEB ▾</a>
                    <div class="menu-list flex flex-col">
                        <a href="#">Cloud Server / VPS </a>
                        <a href="#">Web Hosting</a>
                        <a href="#">Email Doanh Nghiệp</a>
                        <a href="#">Tên miền</a>
                    </div>
                </div>
                <div class="menu-item flex-col flex">
                    <a href="#">Hỗ trợ & công cụ ▾</a>
                    <div class="menu-list flex flex-col">
                        <a href="#">Trung tâm trợ giúp</a>
                        <a href="#">Trang công cụ</a>
                    </div>
                </div>
                <div class="menu-item flex-col flex">
                    <a href="#">Về chúng tôi</a>
                </div>
                <div class="menu-item flex-col flex">
                    <a href="#">Liên hệ</a>
                </div>
                <div class="menu-item flex-col flex">
                    <a href="#">Báo giá</a>
                </div>
                <div class="menu-item flex-col flex">
                    <a href="#">Đăng nhập</a>
                </div>
                <div class="menu-item flex-col flex">
                    <a href="#">Đăng ký</a>
                </div>
                <!-- <div class="menu-item__exception flex-col flex">
                    <a href="#">Tin tức</a>
                </div>
                <div class="menu-item__exception flex-col flex">
                    <a href="#">Kiên thức</a>
                </div>
                <div class="menu-item__exception flex-col flex">
                    <a href="#">Liên hệ</a>
                </div> -->
            </div>
        </div>
    </div>
</div>